<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61561650164460"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/projectwanderlust727/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://x.com/Wanderlust58935"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
    
        <div class="f-info-brand"> &copy;Wanderlust Private Limited - All Rights Reserved</div>
        <div class="f-info-links">
            <a href="/listings">Privacy</a>
            <a href="/listings">Terms</a>
        </div>
    </div>
</footer>